.roadmap-wrapper {
  max-width: 1920px;
  height: 100%;
  background: linear-gradient(rgba(55, 55, 55, 0.1), rgba(55, 55, 55, 0.3));
  border-bottom: 2px groove #fff;
}

.divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .roadmap-technologies {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 2rem;
}




.technology:nth-child(2) {
  background-image: url('/css.png');
}

.technology:nth-child(3) {
  background-image: url('/js.png');
}

.technology:nth-child(4) {
  background-image: url('/react.png');
}

.technology:nth-child(5) {
  background-image: url('/js.png');
}

.technology:nth-child(6) {
  background-image: url('/firebase-logo.png');
}




.roadmap-desc-holder {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.roadmap-desc {
  color: white;
  width: 400px;
  height: 200px;
  animation: slide-left 0.3s ease;
}

.roadmap-desc p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
} */

@keyframes slide-left {
  from {opacity: 0; transform: translateX(-200px);}
  to{opacity: 1; transform: translateX(0px);}
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.steps {
  max-width: 300px;
  margin: 0 auto;
}

.step {
  display: flex;
  width: 500px;
  height: 300px;
  position: relative;
}



/* .step::after {
  content: "";
  position: absolute;
  left: 100px;
  top: 200px;
  height: 50px;
  width: 4px;
  z-index: 1;
  background-color: #e67e00;
} */

.info {
  margin: 8px 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px;
  color: white;
}

.text {
  font-size: 20px;
  color: white;
  font-weight: 300;
}



.number {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  border: 2px solid #e67e00;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-right: 12px;
  margin: 0;
  padding-bottom: 20px;
}



