.nav-holder {
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  z-index: 999;

  @media (max-width: 420px) {
    display: none;
  }
}

.nav-holder-mobile {
  position: relative;
  display: none;
}

.burger {
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1rem;
  z-index: 999;
}

.burger-item.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.visible {
  display: block;
  opacity: 1;
}

.unvisible {
  display: none;
  opacity: 0;
}

.burger-item {
  display: block;
  width: 4em;
  height: 0.5em;
  background-color: #fff;
}

.burger-item.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.3em, 1em);
  transition: ease-in 0.5s;
}

.burger-item.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
  display: none;
}

.burger-item.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.2em, 1em);
  transition: ease-out 0.5s;
}

.menuList {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  padding-top: 8rem;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  transition: all 0.5s ease;

  a {
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid transparent;
    padding: 0.3rem 1rem;
    font-weight: 200;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  a:hover:active {
    border: 2px solid orange;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}

.nav-links {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;

  li {
    list-style: none;
  }

  @media (max-width: 421px) {
    .download {
      font-size: 0.6rem;
      display: none;
    }
    li {
      display: none;
    }
  }
}

.nav-holder {
  ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    border: 2px solid transparent;
    padding: 0.3rem 1rem;
    font-weight: 200;
    transition: all 0.5s ease;
  }

  li a:hover {
    border: 2px solid orange;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  @media (max-width: 421px) {
    .nav-links {
      display: none;
    }
    li a {
      font-size: 0.9rem;
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .nav-holder-mobile {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
}
