.heading-container {
  height: 93vh;
  width: 70vw;
  margin-left: 15vw;
  margin-top: 2vh;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  animation: fade-in 2s ease;
  transition: "all" 2s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.heading {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.heading h2 {
  font-size: 1.7rem;
  font-weight: 500;
  animation: fade-in 2s ease;
}

.heading-desc {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  animation: fade-in 2s ease;
}

.heading-desc h4 {
  font-weight: 300;
  font-size: 1.6rem;
  animation: fade-in 2s ease;
}

.heading-desc span {
  display: block;
  color: orange;
  transform: rotateX(180deg);
}

.tech-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-heading h2 {
  margin-top: 1.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  animation: fade-in 2s ease;
}

.tech-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 420px) {
  .tech-wrapper {
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 80px 80px;
    align-items: center;
    justify-content: center;
  }
}

.tech-desc {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.tech-desc h3 {
  font-size: 1.5rem;
  font-weight: 300;
  animation: fade-in 2s ease;
}

.tech-desc img {
  margin-top: 1rem;
  width: 80px;
  height: 80px;
  background: transparent;
  animation: rotate-img 8s linear infinite;
}

.tech-desc img:hover {
  cursor: pointer;
}

.footer-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.footer-heading h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  animation: fade-in 2s ease;
}

.footer-social {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-social h4 {
  font-size: 1.2rem;
  font-weight: 300;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  animation: fade-in 2s ease;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
  animation: fade-in 2s ease;
}

@keyframes rotate-img {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 420px) {
  .heading-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
  }
  .heading h2 {
    font-size: 1.3rem;
  }

  .heading-desc h4 {
    font-size: 1.2rem;
  }

  .heading-desc span {
    font-size: 1.2rem;
  }

  .tech-heading h2 {
    font-size: 1.3rem;
  }

  .tech-desc h3 {
    font-size: 0.8rem;
  }

  .tech-wrapper img {
    width: 30px;
    height: 30px;
  }

  .footer-social{
    margin-top: 0.8rem;
  }

  .footer-social h4 {
    font-size: 0.8rem;
  }

  .footer-heading h3 {
    font-size: 1rem;
  }
}
